[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fable"]
	path = fable
	url = https://github.com/tidyverts/fable
[submodule "fabletools"]
	path = fabletools
	url = https://github.com/tidyverts/fabletools
[submodule "feasts"]
	path = feasts
	url = https://github.com/tidyverts/feasts
[submodule "tsibble"]
	path = tsibble
	url = https://github.com/tidyverts/tsibble
[submodule "tsibbledata"]
	path = tsibbledata
	url = https://github.com/tidyverts/tsibbledata
