[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tsibble"]
	path = tsibble
	url = https://github.com/tidyverts/tsibble
	shallow = true
	registered = true
[submodule "tsibbledata"]
	path = tsibbledata
	url = https://github.com/tidyverts/tsibbledata
	shallow = true
	registered = true
[submodule "fable"]
	path = fable
	url = https://github.com/tidyverts/fable
	shallow = true
	registered = true
[submodule "feasts"]
	path = feasts
	url = https://github.com/tidyverts/feasts
	shallow = true
	registered = true
[submodule "fabletools"]
	path = fabletools
	url = https://github.com/tidyverts/fabletools
	shallow = true
	registered = true
[submodule "distributional"]
	path = distributional
	url = https://github.com/mitchelloharawild/distributional
	shallow = true
	registered = false
